@using System.Security.Claims;
@{
    var userId = User.FindFirst(ClaimTypes.Name);
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Bienvenue";
    
}


@model TP_InterfaceWeb.Models.NewAccount

@using (Html.BeginForm("Login2", "Medecin", FormMethod.Post))
{
    <h3 class="bg-warning">Bienvenue @userId.Value !</h3>
    
    <br />
    <h1 class="text-success">Connexion réussie !</h1>
    <br />
    <body>

    
    <br />
    

    </body>
    
    @ViewBag.error  
    

    <br/>

    
        
    <h1 class="bg-secondary">Menu</h1>
    <br/>
  
    <a href="@Url.Action("Infomedecin2", "Medecin", new { name = @userId.Value })" class="list-group-item active">
    <h4 class="list-group-item-heading">Informations</h4>
   </a>
    
    
    
   <a href="@Url.Action("Diagnostic", "Medecin")" class="list-group-item">
    <h4 class="list-group-item-heading">Diagnostic</h4>
   </a>

     <br />
    <a class="btn btn-primary" asp-controller="Medecin" asp-action="Index">Se déconnecter</a>


               
    
 
    


}


       
    